
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&family=Gloock&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.pexels.com/photos/1054713/pexels-photo-1054713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM sans',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-position: center center;
    
}
.bg-image{
    background-image: url("https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
h1{
    font-size: 4rem;
    font-weight: bold;
    color:#A32929;
}
#footnote{
    margin-top: 15rem;
    color: rgb(253, 74, 9);
}

.notify{
    padding: 0px;
    margin: 2rem;
    width: 100%;
   
}
#email{
    background: rgb(255, 255, 255);
    padding: 10px 8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

button{
  background-color: #EA4C89;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 10px;
  list-style: none;
  margin-left: 0px;
  outline: none;
  padding: 5px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover,
button:focus {
  background-color: #f7861c;
}
button{
    background-color: rgb(255, 69, 0);

}
.countdown-container{
    display: flex;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    font-weight: bold;
    margin: 0 2rem;
    color: rgb(255, 255, 255);
}
.countdown-el{
    text-align: center;
    color: #FF5B00;
}
.countdown-el span{
    font-size: 1.2rem;
    font-weight: bold;
}
#m-container{
    background-color: rgb(32, 31, 28);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 25px 80px;
  
}

header {
    background: rgba(150, 150, 150, 0.5);
    border-bottom: solid 1px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
footer{
    border-top: solid 1px;
    background: rgb(32, 31, 28);
    width: 100%;
    height: 100px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

#logo{
    text-decoration: none;
    display: flex;
}
.f-navbar{
    text-decoration: none;
    display: flex;
    
}
